<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group1.dao.UserAccountDao">

    <select id="getUserAccountById" resultType="UserAccountDO">
        select * from user_account where id = #{id}
    </select>

    <insert id="saveUserAccount" parameterType="UserAccountDO">
        insert into user_account (`name`,password,sex,phone,email,wx_openid,register_time)
            values
        (#{name},#{password},#{sex},#{phone},#{email},#{wxOpenid},#{registerTime})
    </insert>
</mapper>